body {
    margin: 0;
    background-color: ghostwhite;
}
header {
    color: rgb(233, 65, 4);
    padding: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img {
    width: 100px;
    height: auto;
}
nav {
    margin-left: 15px;
    background-color: rgb(233, 65, 4);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div {
    padding: 15px 0;
}
/* nav div.left ul{
    padding: 30px 0;
} */
nav ol {
    display: inline;
    margin: 0;
    padding: 0 15px;
}
nav ol a {
    text-decoration: none;
    color: white;
}
nav ul ol.vertical {
    height: 30px;
    align-self: self-start;
}
nav div.right {
    margin-right: 5px;
}
nav div.right input {
    border-radius: 5px;
    font-size: 19px;
    border: none;
}
section {
    color: rgb(233, 65, 4);
    margin-left: 15px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
section div.left {
    max-width: 568px;
}
section div.right a, section div.clear a {
    text-decoration: none;
    color: rgb(233, 65, 4);
}
nav ol a:hover, section div.right a:hover, section div.clear a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 30px 0;
    background-color: rgb(64, 64, 64);
    color: rgb(190, 190, 190);
}

table, th, tr, td {
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    margin-bottom: 100px;
}

@media(max-width: 832px) {
    nav ol {
        display: block;
    }
    nav div.right input {
        border-radius: 5px;
        font-size: 25px;
        border: none;
    }
}