#admin-peda{
    display: flex;
    padding: 20px;
    border-radius: 8px;
    flex-direction: row;
    min-height: calc(100vh - 120px); 
    max-height: 450px;
}

#admin-peda section {
    margin-bottom: 20px;
}

.Inscript_peda.expended{
    right: 0;
    width: 100vw;
}

.Inscript_peda {
    min-height: 450px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f6f6f3;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);
  }