/* var */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --bleu-icon: #3588B2;
    --shadow-sec: 0 3px 50px rgba(76, 76, 76, 0.194);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {
    margin: 0;
    /* font-family:Arial, Helvetica, sans-serif ; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/** HEADER */
header img {
    width: 100%;
}

/** SECTION 1*/
section.sect_1 {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
section.sect_1 > div {
    border: 1px solid rgba(128, 128, 128, 0.287);
    width: 86%;
    height: auto;
}
section.sect_1 div img {
    width: 100%;
    height: auto;
}
section.sect_1 > div {
    box-shadow: var(--shadow-sec);
    padding: 0 17px 10px 17px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}
section.sect_1 > div > div {
    width: 87%;
}
section.sect_1 div#active_mail {
    display: flex;
}
section.sect_1 div#ins_admin, section.sect_1 div#ins_peda,section.sect_1 div#consul_edt, section.sect_1 div#consul_note {
    display: none;
}
section.sect_1 > button {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 165px 0;
    position: absolute;
}
section.sect_1 button svg {
    width : 100px;
    height : 50px;
}
section.sect_1 button polyline {
    fill : none;
    stroke : none;
    stroke-width : 15px;
    transition: all 0.3s;
}
section.sect_1 button#precedent {
    left: 10px;
}
section.sect_1 button#suivant {
    right: 10px;
}
section.sect_1 button:hover polyline {
    stroke : rgba(13, 123, 186, 0.088);
}
section.sect_1 h1 {
    font-size: 30px;
    color: var(--bleu-icon);
    text-shadow: 3px 3px 10px rgba(170, 170, 170, 0.613);
    margin-bottom: 10px;
}
section.sect_1 h3 {
    font-size: 130%;
    color: #b25f35;
    margin-bottom: 50px;
}
section.sect_1 p {
    font-size: 17px;
    margin-bottom: 50px;
}
section.sect_1 div.read_more {
    display: flex;
    justify-content: center;
    justify-self: center;
}
section.sect_1 div.read_more button {
    font-size: 17px;
    border: 1px solid blue;
    color: orangered;
    background-color: white;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
section.sect_1 div.read_more button:hover {
    background-image: url("../images/image.png");
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.3s;
    transform: scale(1.05);
}
section.sect_1 div.read_more button:active {
    transform: scale(1.09);
}

/** SECTION 2*/
section.sect_2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    margin: 30px 0;
}
section.sect_2 > div {
    width: 89%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
section.sect_2 div.gauche {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.287);
    width: 134%;
    margin-right: 15px;
    padding: 16px;
    border-radius: 10px;
}
section.sect_2 div.droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    gap: 0.5em;
}
section.sect_2 div.droite ~ div {
    -webkit-box-flex: 0;
    max-width: 25%;
}
section.sect_2 div.droite > div > * {
    margin: 0 0 25px;
}
section.sect_2 div.droite div{
    background-color: white;
    box-shadow: var(--shadow-sec);
    border: 1px solid rgba(128, 128, 128, 0.287);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 5px;
}
section.sect_2 div.gauche .header, section.sect_2 div.droite h4, div#dialog div.container div h4 {
    font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(2px 2px 4px rgba(30, 112, 219, .342));
    color: var(--bleu-icon);
}
section.sect_2 div.droite p.lamp, div#dialog div.container p {
    color: #b25f35;
}
section.sect_2 div.droite a {
    background-color: #f1b33c;
    color: white;
    padding: 6px 13px;
    border-radius: 5px;
    align-self: center;
    text-decoration: none;
}
section.sect_2 div.btn_resp {
    display: none;
}
button.connecter {
    width: 210px;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    position: relative;
    background: linear-gradient(90deg, #3588b2, #f1b33c, #d8843b, #b25f35);
    background-size: 400% 400%;
    animation: moveBackground 10s ease infinite;
    /* animation: moveBackground 10s ease infinite, pulse 3s infinite alternate; */
    transition: transform 0.3s ease, all 0.5s;
    cursor: pointer;
    align-self: center;
}
button.connecter:hover {
    transform: scale(1.05);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
}

@keyframes moveBackground {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes pulse {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}

/** SECTION INFO */

section.info {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
section.info > div {
    width: 100%;
}
section.info div.pub_info {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/** CONTAINER VIDEO*/

section.container_vd {
    display: flex;
    justify-content: center;
}
section.container_vd div{
    width: 89%;
}
#bloc_video {
    width : 100%;
    height : 510px;
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-sec);
    margin-bottom: 30px;
}
#support {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1030; */
}
#support img {
    width: 109px;
    height: auto;
    cursor: pointer;
}

/** FOOTER */
footer {
    color: #b25f35;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, 0.287);
}

/** SUPPORT*/
div#dialog {
    background-color: rgba(0, 0, 0, 0.318);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    overflow-y: scroll;
}
div#dialog div.container{
    background-color: white;
    box-shadow: var(--shadow-sec);
    border: 1px solid rgba(128, 128, 128, 0.287);
    margin: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
div#dialog div.container img{
    width: 90%;
    height: auto;
}
div#dialog div.container > div{
    text-align: center;
}
div#dialog div.container span {
    display: block;
    color: green;
    margin: 30px;
}

@keyframes slideIn {
    from {transform: translateY(20%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
@keyframes slideOut {
    from {transform: translateY(0); opacity: 1;}
    to {transform: translateY(20%); opacity: 0;}
}

/* Section masquée */
.hidden {
    display: none !important;
}

/* Section visible avec animation */
.visible {
    animation: slideIn 0.5s ease forwards;
}

/* Section qui disparaît avec animation */
.hiding {
    animation: slideOut 0.5s ease forwards;
}